.home-page {
    width: 100%;
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
  }
.card-panel {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
}
.charts-card {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
    justify-content: space-around;
}
.material-icons {
    color:white;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 42px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
}

.card-panel {
    text-align: center;
}
.footer-card-text{
    margin-left: -30px;
}
*{
    outline: none !important
    }
.charts-home-page {
    width: 300px;
    height: 240px;
}

/* background: linear-gradient(60deg, #26c6da, #00acc1);
box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(0 172 193 / 40%); */