.home-page {
    width: 100%;
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
  }
.card-panel {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
}
.charts-card {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
    justify-content: space-around;
}

.material-icons {
    color:white;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 42px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
}
.footer .material-icons {
    color: #999;
    font-family: 'Material Icons';
    font-size: 18px;
    text-transform: none;
    margin-right: 2px;
}
.footer-card-text{
    font-size: 13px;
}
.home-link-card {
    color: #999;
    text-decoration: none;
}
.home-link-card:hover {
    color: rgb(129, 129, 129);
    cursor: pointer;
    text-decoration: none;
  }
  .home-link-card-charts {
    color:black;
    text-decoration: none;
  }
  .home-link-card-charts:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }


.card-panel {
    text-align: center;
}
*{
    outline: none !important
    }
.charts-home-page {
    width: 300px;
    height: 240px;
}
