.category-table .action-category-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .action-category-button {
    width: 65px;
    height: 30px;
    border: none;
    outline: none;
    background-color: #2c8dc1;
    margin-right: 10px;
    color: white;
  }
  .big {
    width: 120px;
  }
  .category-table td {
    padding: 10px;
  }
  .standard-basic {
    width: 100%;
    margin-left: 50px;
    color: black;
  }
  table.greyGridTable {
    border: 0px solid #ffffff;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background: white;
  }
  table.greyGridTable td,
  table.greyGridTable th {
    border: 1px solid #ffffff;
    padding: 10px 15px;
    width: 160px;
  }
  table.greyGridTable tbody td {
    font-size: 16px;
    width: 160px;
  }
  table.greyGridTable tr:nth-child(even) {
    background: #ebebeb;
  }
  table.greyGridTable thead {
    background: #ffffff;
  }
  table.greyGridTable thead th {
    border-bottom: 1px solid grey;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    height: 30px;
  }
  table.greyGridTable thead th:first-child {
    border-left: none;
  }
  
  table.greyGridTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    border-top: 4px solid #333333;
  }
  table.greyGridTable tfoot td {
    font-size: 14px;
  }
  