.transaction-row .action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.error-input {
  border: 1px solid red;
}

.action-button {
  width: 65px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #2c8dc1;
  margin-right: 10px;
  color: white;
}

.DayPickerInput {
  width: 100%;
}

.DayPickerInput input {
  height: 38px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

