.link-list-wrapper {
  display: flex;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  width: 50%;
  /* padding-left: 50px; */
  /* padding: 50px 20px 0; */
}
.link-list {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 30px;
  /* height: 46px; */
}
.app-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300px;
}
.app-link:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.active-link {
  /* background-color: #ececec; */
}
