.user-wrapper{
	padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-wrapper .photo{
	overflow: hidden;
	height: 32px;
	width: 32px;
	border-radius: 50%;
}
.user-wrapper .photo img{
	height: 32px;
}

.user-wrapper .user-name{
	color: white;
}