.app {
  width: 100%;
  background-color: #edecf3;
  height: 100vw;
  border-radius: 20px;
  padding: 100px;
  display: flex;
  flex-direction: row;
}
.page {
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
}
