.balance-block {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.balance-text-sum {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  align-self: center;
}
.balance-text {
  color: #fff;
  font-size: 16px;
  align-self: center;
}
